html {
    background-color: #000000;
    color: white;
    font-family: Verdana, sans-serif;
    text-align: center;
}

h1{
    font-weight: normal;
    font-size: 50px;
}

.downloadLink{
    font-size: 16px;
    color: #7fffd4;
    text-decoration: underline;
}
.container{
    display: flex;
    justify-content: center;
}

h2{
    font-size: 42px;
    font-weight: 300;
}

h3{
    font-size: 21px;
    color: gray;
}
footer{
    text-align: right;
}